body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    flex-direction: column;
}

.clock-container {
    text-align: center;
}

#clock {
    font-size: 4em;
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#date-day {
    font-size: 2em;
    margin-bottom: 20px;
}
